Random number: 
<span href="#" class="something" 
  {{fade-in 
    animate:crossFadeOnChange=true
    animate:duration=(hash enter=400 tween=600)
    animate:easing='ease-in'}}>
  {{text1}}
</span>
<div>
  <button onclick={{action 'changeText'}}>
    Change value
  </button>
</div>
