{{docs-header}}

{{#docs-hero
  logo="ember"
  heading="Simple Animate"
  slimHeading="ESAn"
  strongHeading="Ember Simple Animate"
  byline="Build Simple CSS based animations"}}

  <p class="docs-mt-4" {{fade-in}}>Powering simple animations</p>
{{/docs-hero}}
